<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<div>
    <h3>User List</h3>
    <a th:href="@{/users/add_new}">Add User</a>
    <table style="width:80%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td><a th:href="@{/users/update_user/{id}(id=${user.id})}">Update</a>
                <a th:href="@{/deleteUser/{id}(id=${user.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
